Keras==2.7.0
matplotlib==3.5.0
numpy==1.21.4
scikit-learn==1.0.1
pandas==1.3.4
chardet==3.0.4
convertdate==2.3.2
lunarcalendar==0.0.9
holidays==0.11.3.1
cython==0.29.17
requests==2.26.0
h5py==3.6.0
scipy==1.7.3
pyppeteer==0.2.6

# Optional
#tensorflow==2.7.0   # TensorFlow (also -gpu, -macos or -aarch64 variants)
#fbprophet==0.6      # Facebook's Prophet
#pmdarima==1.8       # AARIMA
#statsmodels==0.12.1 # ARIMA, SARIMAX