matplotlib >=2.1.2, <4.0.0
numpy >=1.19.5, <2.0.0
scikit-learn >=0.2.2, <2.0.0
pandas >=0.23.4, <2.0.0
chardet >=3.0.4, <4.0.0
convertdate >=2.1.2, <3.0.0
lunarcalendar >=0.0.9, <1.0.0
cython >=0.29.17, <1.0.0
requests >=2.20.0, <3.0.0
scipy >=1.5.4, <2.0.0
pyppeteer >=0.2.6, <1.0.0
propertime>=1.0.1, < 2.0.0
fitter==1.7.0

sphinx==5.3.0
sphinx_rtd_theme==1.1.1
sphinx-notfound-page==1.0.2
