matplotlib==3.7.2
numpy==1.21.4
scikit-learn==1.0.1
pandas==1.3.4
chardet==3.0.4
convertdate==2.3.2
lunarcalendar==0.0.9
cython==0.29.17
requests==2.26.0
scipy==1.7.3
pyppeteer==0.2.6
propertime==1.0.0
fitter==1.7.0

# Optional
#tensorflow==2.7.0   # TensorFlow (also -gpu, -macos or -aarch64 variants)
#prophet==1.1.5      # Facebook's Prophet
#pmdarima==2.0.4     # AARIMA
#statsmodels==0.14.1 # ARIMA, SARIMAX
